$color-fuente-primario: #fff;
$color-fuente-secundario: #bb9d65;
$color-fondo: #1f2024;
$fuente-cursiva: "Dancing Script", cursive;
$fuente-principal: "Poppins", sans-serif;
$funte-titulos-h2: "Bebas Neue", cursive;
